@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <hr />
    <h1>Seja bem vindo(a)!!!</h1>
    <p>Rapid Eye Movement Beauty</p> 
    <hr />
  </div>

<img class="bodysplash" src="~/ariana (1).png" />
<img class="bodysplash" src="~/arianaa (3).png" />
<hr />
    <p>Revele sua verdadeira beleza, cada traço conta. 
Sua paleta de estilo, nossa inspiração de maquiagem!</p>

